*,*::before,*::after {line-height: 1.5em;}
html,body {overflow-x: hidden;}
body {
    position: relative;

    &::before {
        content: '';
        position: absolute; inset: 0;
        background: url(bg.webp) 60% center / cover;
        filter: blur(5px) brightness(0.7);
        z-index: -1;
    }
}
input:not([type]) {
    all: unset;
    width: 100%; height: 1em;
    font-size: 3em;
}
header {
    padding: 4em 0 1em 0;

    img {
        width: min(30em,90%);
    }
    h2 {
        letter-spacing: 1em; text-indent: 1em;
        display: block;
        padding-top: .5em;
        font-size: 1.2em;
    }
}
h2,h3 {
    color: transparent; -webkit-text-stroke: .02em white;
}

section {
    margin: 3rem auto 0 auto;  
    max-width: 40rem;
    overflow: hidden;

    h3 {
        font-size: 2.5rem;
        display: block;
        --spacing: .3em; letter-spacing: var(--spacing);
        margin: 1em calc(-1*var(--spacing)) 1em 0;
    }
}

#search {
    width: 100%; max-width: 30em;

    search {
        display: flex; flex-wrap: wrap; justify-content: end;
    
        a {
            margin-left: 1em;
    
            &:last-of-type {margin-right: .5em;}
        }
        input {
            width: 100%;
            border-radius: 9em;
            font-size: 1.2em;
            padding: .2em .5em;
        }
    }
    ol:not(:empty) {
        display: flex;
        font-size: .85em; white-space: nowrap;
        margin: .2em 0 0 .5em;

        li {
            margin-right: 1em;
        }
        &::-webkit-scrollbar {
            display: none;
        }
        ::before {
            margin-right: .2em;
        }
        button {
            color: var(--theme);
        }
        a::before {
            content: '\e024';
        }
        &.beys button::before {
            content: '\e001';
        }
        a[href^='//'] {
            color: var(--theme-alt);

            &::before {content: '\e023';}
        }
        &.parts button::before,
        &.links :is([href*=parts][href*='#'])::before {
            content: '';
            width: 1.4em; height: 1.4em; display: inline-block;
            vertical-align: text-top;
            background: url() center / contain no-repeat;
        }
        :is(.blade,[href*='?blade#'],a[href*='?blade='])::before {
            background-image: var(--img, url(img/lines.svg#BX)) !important;
        }
        :is(.ratchet,[href*='?ratchet#'])::before {
            background-image: url(img/ratchet/6-60.png) !important;
            filter: saturate(0) brightness(99);
        }
        :is(.bit,[href*='?bit#'])::before {
            background-image: url(img/bit/A.png) !important;
            filter: saturate(0) brightness(99);
        }
    }
    table {margin: .5em auto;}
}

#products {
    font-size: .8em;

    time::after {
        content: attr(title);
        font-size: 1.5em;
        mix-blend-mode: difference;
    }
    div>:not(figure) {
        background: var(--theme-dark);
        display: flex; place-items: center; place-content: center;
        text-transform: capitalize;
        white-space: pre-wrap;
        padding: .5em;
    }
    div>:has(*) {
        flex-direction: column;
    }
    h5 {
        background: var(--light,#333) !important;

        img {
            width: 3em;
        }
        ruby {
            margin-bottom: .5em;
        }
        rt {
            text-align: center;
            color: var(--type); font-size: .7em;
        }
    }
    p {
        margin:0;
    }
    h4:empty {display: none;}
}

#reboot {
    user-select: none; -webkit-user-select: none;
    padding: 0 .5em; margin-bottom: 2em;
    text-align: right; font-size: .8em;

    div {
        display: flex; justify-content: space-between; align-items: center;
        margin: .2em 0 .2em auto;
        border-radius: 9em;
        width: 15em;
        background: var(--overlay1);
    }
    i {
        width: 2em;height: 2em;
        border-radius: 9em;
        text-align: center; line-height: 2.2em;
        font-size: 1.5em;
        touch-action: none;

        &:first-child {
            background: var(--overlay2);
            margin-right: .5em;
            color: var(--theme-alt);
        }
        &:last-child::before {
            content: 'ãƒ»';
        }
        &.PI-reached {
            background: var(--theme);
        }
    }
    img {width: 7em;}
}

footer {
    background-color: grey;
    padding: .5em;
    font-size: .6em;
}

/*entry animation*/
time {
    position: relative;
    z-index:0;
    transition: color .5s;
    
    &::before {
        content: ''; position: absolute;
        width: 120%; height: .8rem;
        left: 50%; top: 50%; transform: translate(-50%,-50%) skew(-20deg);
        background:linear-gradient(var(--theme) 10%,transparent 10% 90%,var(--theme) 90%),
        linear-gradient(to right,var(--theme-alt) var(--stop),transparent var(--stop));
        transition: --stop .5s;
        z-index: -1;
    }
}
:is(time.seeing,dfn)::before {
    --stop: 100%;
}
.scroller,section {
    transition: transform .4s;
}
.scroller:nth-of-type(odd):not(.seeing) {
    transform: translateX(-100%);
}
.scroller:nth-of-type(even):not(.seeing) {
    transform: translateX(100%);
}