
nav div {
    justify-self: end;
    align-self: center;

    &:first-of-type {grid-area: 1/4;}
    &:last-of-type {grid-area: 2/4;}
    button,label:not(.toggle) {
        background: var(--theme); color: black;
        border-radius: 8em;
        padding: 0 .5em; margin-left: .5em;
        font-size: .9em;
        display: inline-block; line-height: 1.3rem;
    }
}
main {
    margin-bottom: 8em;

    details {
        summary {
            &::before {content: '▶';}
            &::after  {content: '◀';}
            &.loading::before {display: none;}
        }
        &[open] summary::before,&[open] summary::after {content: '▼';}
    
        ul {
            text-align: left; font-size: .8em;
            padding: 0 0.5em 0 2em;
            line-height: 1.4;
        }
    }
    fieldset {
        display: flex; gap: 1em; justify-content: center;
        text-align: center; line-height: 4em; color: var(--theme);
        width: 100%;
        margin-top: .5em;
    
        label {
            position: relative;
            min-width: 3em; height: 3.5em;
            display: flex; flex-direction: column;
    
            img {
                width: 3em; height: 2em; 
                margin-top: .5em;
            }
            div {white-space: nowrap;}
            div img:nth-child(2) {margin-left: .5em;}
            &::after {
                position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);
                width: 3em; height: 3em;
                z-index: -1;
            }
        }
    }
    canvas {
        display: block;
        width: min(1000px,100%);
        margin: auto;
    }
}
main ol {
    text-align: left;
    padding: 0 .5em !important; margin: auto !important;
    max-width: 30em;

    li {
        border-radius: .5em; border: .15em solid var(--theme);
        padding: 1em; margin: 1em auto;
        min-height: 4em;
        display: flex; align-items: center; flex-wrap: wrap;

        p {width: 100%; text-align: center;}
        &.inactive {pointer-events: none; filter: brightness(.5) saturate(0);}
        &:not(.loading) p {display: none;}
        &::after {width: 100%; text-align: center;}
    }
    :is(button,label) {cursor: pointer; color: var(--theme);}
}
aside {
    position: fixed; bottom: 0;
    display: flex; gap: .5em; justify-content: center; align-items: end;
    width: 100%;
    background: var(--overlay1);
    font-size: .9em;
    padding: .5em 0 1em 0;
    transition: transform .5s;

    &:not(.active) {transform: translateY(100%);}
    continuous-knob::before {font-size: .9em;}
}