nav {
    column-gap: 0;

    div {
        white-space: nowrap; 
        text-align: right;

        .right & {margin-right: .3rem;}
        &:first-of-type {
            grid-area: 1/4;
            align-self: center;
        }
        &:last-of-type {
            grid-area: 2/4;
        }
    }
    small,drag-knob::part(output) {color: var(--on);}
    input {
        width: 4.6em; height: 1.3rem;
        margin: 0 .2em 0 .3em; padding: .1em;
        vertical-align: middle;
    }
    drag-knob {
        grid-area: 1/3/3/4; place-self: center end;
        margin-right: .4em; 
        font-size: .8em;
    }
    #print.accent {background: var(--accent);}
    a[href^='?'] {
        position: relative;
        
        &::before {
            content: '';
            border-radius: 9em;
            position: absolute; inset: 0;
        }
        &[href='?sheet']::before {
            background: url(./sheet.png) center bottom / cover no-repeat;
        }
        &[href='?emblem']::before {
            background: url(./emblem-base.webp) center / cover no-repeat;
        }
    }
    &.sheet li:has(a[href='?sheet']),
    &.emblem li:has(a[href='?emblem']) {display: none;}
}
main {
    max-width: 30em;
    margin: 4.15rem auto 0 auto;
    display: grid; gap: .5em 0;
    grid-template: repeat(9,auto) 1fr / min-content 1fr repeat(4,min-content) 1fr;
    user-select: none; -webkit-user-select: none;
    touch-action: manipulation;

    button:has(em:not([hidden]))::after,canvas:target:not([width])~* {display: none;}
    button[popovertarget=reminder] {
        transform: translateX(-1.1em);

        &::after {
            content: '';
            color: var(--theme);
        }
        em {
            color: var(--accent);
            small {display: block;}
        }
    }
    canvas {
        height: min(35em,100svh - 4.15rem);
        position: sticky; top: 4.15rem;

        nav.emblem+main & {height: 9em; border-radius: 9em;}
        &:not([width]) {width: 5em;}
        &:not(:target) {display: none;}
    }
    b {
        width: 9rem;
        padding: 0 .5em; margin-top: 3em;
        font-size: .9em;
        display: none;

        nav.emblem+main & {display: initial;}
        strong {
            display: block;
            border-bottom: .1em solid;
            padding-bottom: .5em; margin-bottom: .5em;
        }
    }
}
canvas,db-state {grid-area: 1/1/-1/2;}
b {grid-area: 4/1/-1/2;}
#layer {grid-area: 1/3/-1/4;}
div:nth-child(1 of .empty) {grid-area: 1/1/2/-1;}
div:nth-child(2 of .empty) {grid-area: 1/2/-1/3;}
div:nth-child(3 of .empty) {grid-area: 1/7/-1/8;}
button[popovertarget=reminder] {grid-area: 2/4/3/6;}
.dual {grid-area: 3/4/4/7;}
hr {grid-column: 4/7;}
.toggle {grid-column: 6/7;}

main form,fieldset:not(#layer) {display: contents;}
form.image :is(#type,#control-color,#control .color),
form.color :is(#type,#control-image,#control .image),
form[class=''] fieldset[id|=control] {display: none !important;}
drag-knob::part(output) {--f: .65;}

main form {
    * {justify-self: center;}

    div:has(+.toggle) {
        position: absolute; position-anchor: --toggle; left: calc(anchor(left) - 7em); position-area: center;
        font-size: .8em;
        small {display: block;}
    }
    .toggle {
        anchor-name: --toggle;
        font-size: .8em;
    }
    .dual {
        color: var(--theme);
        display: flex;
        padding: .5rem 0;
        
        :not(input) {
            width: 6rem; height: 4rem;
            display: flex; align-items: center; justify-content: center;
        }
        &#type button {font-size: 2em;}
        #control-image & :is(label,button) {font-size: 1em !important;}
        :first-child {border-right: .05rem solid;}
        :last-child {border-left: .05rem solid;}
    }
}
fieldset:not(#layer) {
    font-size: .9em;
    
    label,drag-knob::before {font-size: .9em;}
    drag-knob {margin: 0 .25em;}
    hr {
        border-bottom: .1em solid var(--on);
        width: 100%; 
        margin: .1em auto;
    }
    &#control-color {
        label:has(input[name=gradient])::after {
            content: '';
            display: block; width: 1.5em; height: 1.5em;
            margin: .1em auto 0 auto;
        }
        label:has(input[value=linear])::after {
            background: linear-gradient(var(--theme),var(--theme-dark));
        }
        label:has(input[value=radial])::after {
            background: radial-gradient(var(--theme),var(--theme-dark));
        }
        label:has(input[value=conic])::after {
            background: conic-gradient(var(--theme),var(--theme-dark),var(--theme));
        }
        input[type=color] {display: block;}
        label:has(input[name=shape]) {align-self: center;}
    }
}
#layer {
    font-size: 1.1em;
    width: 2em; height: min(35em,100svh - 4.15rem); 
    overflow-y: scroll; 
    padding-bottom: 1rem; margin-right: .5rem;
    mask-image: linear-gradient(to bottom,black 0 90%,transparent);

    div {
        display: flex; flex-direction: column; gap: .4rem;
        width: 100%;

        &:has(button) {
            padding: .4rem 0;
            position: sticky; top: 0;
            background: var(--backdrop);
            z-index: 1;
        }
    }
    button {
        font-size: 1.5em; color: var(--theme);
        line-height: 1.1;

        &[disabled] {
            filter: saturate(0);
            pointer-events: none;
        }
    }
    &.solo label:not(:has(:checked)) {filter: saturate(0) brightness(.7);}
    label {
        border: .1em solid gray; border-radius: .3em; transition: border-color .5s;
        background: gray;
        width: 100%; aspect-ratio: 1;
        position: relative;
        filter: none;

        &::after {
            position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
        }
        &[data-type=image]:not(:has(img[src]))::after {content: '';}
        &[data-type=color]:not(:has(svg[style*=background]))::after {content: '';}
        &[data-path]::after {content: '';}
        &[data-note]::after {content: attr(data-note);}
        &.dirty {border-color: var(--accent) !important;}
        &:has(input:checked) {
            background: var(--theme); color: black;
            border-color: var(--theme);
        }
        img,svg {
            display: block; 
            max-width: 100%; aspect-ratio: 1; object-fit: contain;
            pointer-events: none;
        }
        img:not([src]),svg:not([style*=background]) {display: none;}
        svg {
            margin: .1em;
            path {display: none;}
        }
    }
}
dialog {
    padding: 1em .5em;

    * {width: 100%;}
    em {
        margin: 0 auto 2em auto;

        small {
            display: block;
            margin-top: .5em;
        }
    }
    img {
        width: 6em;
        &:first-of-type {
            display: block;
            width: min(100%,30em);
            margin: auto;
        }
    }
}
#reminder {
    max-width: 30em;
    text-align: left;
    padding: .5em .5em .5em 1.5em;
    border: none; 

    li {margin: .5em 0;}
    &::backdrop {background: var(--theme-trans); backdrop-filter: blur(.2rem) brightness(.4);}
    &:popover-open {display: list-item;}
}
