button {
    background: var(--theme); color: var(--overlay1);
    padding: 0 .5rem;
    border-radius: 9em;

    &[popovertarget] {grid-area: 1/4;}
}
main>details {
    summary {
        &::before {content: '▶';}
        &::after  {content: '◀';}
        &.loading span,&.loading::before {display: none;}
    }
    &[open] summary::before,&[open] summary::after {content: '▼';}

    ul {
        text-align: left; font-size: .8em;
        padding: 0 0.5em 0 2em;
        line-height: 1.4;
    }
}
section {
    margin-bottom: 1em;

    h2 {display: block; text-align: left;}
    h2 a {
        display: inline-flex; align-items: center; gap: .2rem;
        margin: .25rem .5rem;
    
        &[href*='#']::before {
            content: '';
            width: 3rem; height: 2rem;
            background: var(--img-line) center / contain;
        }
        &:empty::after {width: 3rem;}
        &:not(:empty) {
            font-size: 1.25em;
            margin-bottom: .5rem;
        }
    }
    ol {
        background: var(--overlay2);
        padding: .2rem !important;
        display: flex; flex-wrap: wrap; gap: .3em;
        min-height: 4em;
    }
    li {
        &:has(details) {align-self: center;}
        &:first-child:has(details) {margin-left: .25em;}
        &:has(details:not([open]))~li {display: none;}
    }
    summary {
        line-height: 1.4; font-size: .9em;
        
        li:has(+li) & {color: var(--theme);}
        &::after {content: ' ▶'; vertical-align: -.1em;}
    }
}

main figure {
    border-bottom: .2em solid gray; border-radius: .5em;
    padding: .25em;
    position: relative;

    >img {height: 4.8em;}
    figcaption {
        position: absolute; inset: .25em .25em .1em .25em;
        display: grid; grid-template: 1em 1fr 1em / 1em 1fr 1em;
        cursor: pointer;

        img[src*=types] {height: 1.2em;}
        i {grid-area: 1/3;}
        b {
            grid-area: 3/1/4/4; justify-self: center; align-self: end;
            font-size: .65em; font-weight: bold;
            line-height: 1;
            color: var(--theme);

            &:is([lang=hk],[lang=tw],:not([lang])) {
                font-size: .85em;
                white-space: nowrap;
            }
        }
    }
}
select,::picker(select) {
    appearance: base-select;
    border: none;
}
::picker(select) {
    border-radius: .3em;
    left: anchor(center); transform: translateX(-50%);
}
select {
    gap: .2em; align-items: center;
    padding: 0 .5em;
    font-size: .8em;
    cursor: pointer;
    background: gray; color: var(--theme);
    border-radius: 0 0 .3em .3em;
    transform: translateY(-.2em);

    &:focus {outline: none;}
    option {
        display: block;
        background: var(--dark); color: var(--on);
        font-size: .9em;
        line-height: 1.8em;

        &:not([value]), &::checkmark {display: none;}
        sub {line-height: 0;}
    }
}
@supports (-webkit-appearance: none) and (font: -apple-system-body) {
    select {
        appearance: none;
        max-width: 3em; border: none;
    }
  }
dialog textarea {
    display: block;
    width: 90%; height: 80vh;
    font-size: 1em;
    margin: 1em auto;
}