h1,h2,h3,h4,h5,h6,code,u,b,em,button {
    all: unset;
}
i {
    font-style: initial;
}
*,*::before,*::after {
    box-sizing: border-box !important;
    scrollbar-width: none;
}
summary:focus {
    outline: none;
}
:root,input,input::placeholder,button,db-state {
    font-family: Chiron GoRound TC,COND,sans-serif;
}
h1,h2,h3 {
    font-weight: 700;
}
#search,nav,fieldset,summary,input[type=reset],
h4,h5,em,dfn,p dt,.links {
    font-weight: 500;
}
tbody td {
    font-weight: 450;
}
th,nav dd,summary>*,small {
    font-weight: 400;
}
:host(x-part) dd,output {
    font-family: COND, Chiron GoRound TC, sans-serif;
}
tr[data-rate]::after,
td:is(:first-child,[headers=ratchet],[abbr]:has(+:not([headers]))),
.boards code {
    font-family: Fira Code, COND, Chiron GoRound TC, sans-serif;
}
@font-face {
    font-family: 'COND';font-display: swap;
    src: url("./FiraSansExtraCondensed-Regular.woff2");
}

menu,ol:not(.default),ul:not(.default),dl,dt,dd,summary,figure,fieldset {
    list-style: none; border: none;
    margin: 0; padding:0;
}
p {
    line-height: 1.4;
    article & {text-align: left;}
    rt {margin-top: 1em;}
}
svg {
    overflow: visible;
}
ruby {
    display: inline-flex; flex-direction: column-reverse;
    vertical-align: bottom;
    text-align: center;

    rt {
        text-align: center; line-height: .6;
        font-size: .6em;
    }
    &.below {
        flex-direction: column;
    }
}
label,button,summary,[onclick],a[href] {
    transition: filter .3s,background-color .3s;
}
button:not([disabled]),label:has(input:not([disabled])),input[type=reset],
a[href]:not(.disabled),summary,[onclick]:hover {
    cursor: pointer;
}
a[href]:not(.disabled):hover {
    filter: brightness(110%);
}
:is(button:not([disabled]),summary,[onclick],label:has(input)):hover {
    filter: brightness(90%);
}
a.disabled,button[disabled] {
    filter: saturate(0);
    pointer-events: none;
}
input:is([type=checkbox],[type=radio],[type=file]),svg:not([viewBox]),::-webkit-details-marker {
    display: none;
}
[hidden] {
    display: none !important;
}
:defined,:defined::before,:defined::after {
    visibility: visible;
}
@media (max-width:630px) and (orientation:portrait) {
    html {font-size: 4vw;}
}
@media (max-width:630px) and (orientation:landscape) {
    html {font-size: 3vw;}
}
@media (min-width:631px) {
    html {font-size: 20px;}
}

.blade {
    --hue: 55; --b-adj: -5%;
    --img: url(/x/img/blade/CbDr.png);
}
.ratchet {
    --hue: 175; --b-adj: 0%;
    --img: url(/x/img/ratchet/6-60.png);
}
.bit {
    --hue: 245; --s-adj: 20%; --b-adj: 15%;
    --img: url(/x/img/bit/B.png);
}
.blade.fused {--hue: 100;}
.bit.fused {--hue: 200;}
.att,label:has([value$=att]) {--type: #0081e3;}
.def,label:has([value$=def]) {--type: #009f48;}
.sta,label:has([value$=sta]) {--type: #f08200;}
.bal,label:has([value$=bal]) {--type: #de0010;}

.RB {--sat: 0%; --b-adj: 0%;}
.B  {--hue: 10;}
.SS {--hue: 235; --b-adj: 5%;}
.St {--hue: 290;}
.S  {--hue: 200;}
.Lm {--hue: 45;}
.RB,.B,.S,.St,.SS,.Lm {
    --light: hsl(var(--hue,0),var(--sat,35%),calc(40% + var(--b-adj,0%)));
    --dark: hsl(var(--hue,0),var(--sat,45%),calc(30% + var(--b-adj,0%)));
}
a[href^='/x/products/']::before {content: '';}
a[href^='/x/prizes/']::before {content: '';}
a[href^='/x/parts/']::before {content: '';}

@view-transition {navigation: auto;}
@keyframes exit {
    49.9% {opacity: 1;}
    50%,to {opacity: 0;}
    to {transform: scale(calc(5 - 5*var(--x)));}
}
@keyframes enter {
    from {transform: scale(calc(5 + 5*var(--x)));}
    from,49.9% {opacity: 0;}
    50% {opacity: 1;}
}
::view-transition-old(root) {animation: .3s ease-in-out exit;}
::view-transition-new(root) {animation: .3s ease-in-out enter;}
::view-transition-image-pair(root) {--x: -1; --y: 0;}
:active-view-transition-type(right)::view-transition-image-pair(root) {--x: 1; --y: 0;}
:active-view-transition-type(up)::view-transition-image-pair(root) {--x: 0; --y: -1;}
:active-view-transition-type(down)::view-transition-image-pair(root) {--x: 0; --y: 1;}
.pause-page::view-transition-old(root),.pause-page::view-transition-new(root) {animation: none;}
html {
    background: var(--backdrop);
    --backdrop: black;--overlay1:#383838E8;--overlay2:#555555E8;
    color: var(--on); --on: #ccc;
    --hue: 87; --theme: #b5fb5c; 
    --theme-dark: color-mix(in srgb,var(--theme) 35%,black);
    --theme-alt: hsl(45,90%,48%);
}
body {
    margin: 0;
    text-align: center; -webkit-text-size-adjust: 100%;
}
body:has(db-state[title=更新中]) {
    pointer-events: none;
}
html,body {
    overscroll-behavior-y: none;

    &:has(nav:not(.bottom)) {scroll-padding-top: 5em;}
    &:has(nav.bottom) {scroll-padding-bottom: 5em;}
}
main {
    margin: 5em auto 1em auto;

    nav.bottom+& {margin: 0 auto 5em auto;}
}
db-state:not([hidden])~main {
    margin-top: 1em;
}
a[href],a[onclick],nav,form summary,caption label,:is(caption,details:has(#filter)) button,details:has(#filter) summary {
    color: var(--theme);
    text-decoration: none;
}
.loading,output,details:has(#filter):has([type=checkbox]:not(:checked)) summary {
    color: var(--theme-alt);
}

.animating menu {
    transition: transform .5s;
}
@keyframes pull-down {
    25% {transform: translateY(1em);}
    50%,to {transform: none;}
}
@keyframes pull-up {
    25% {transform: translateY(-1em);}
    50%,to {transform: none;}
}
nav {
    width: 100%; height: 4.15rem;
    display: grid;
    gap: .2rem .3rem;
    padding: .2rem .3rem;
    background: var(--overlay1);
    position: fixed; z-index: 5; 
    user-select: none; -webkit-user-select: none;
    
    &:not(:has(a[href='/x/'])) {display: none;}
    &:not(.bottom) {
        top: 0; 
        border-bottom: 0.15rem solid;
    }
    &.bottom {
        bottom: 0;
        border-top: 0.15rem solid;
    }
    &.right {padding-left: 0;}
    menu {
        display: flex; 
        height: min-content;
        margin: .1em .1em 0 0;
        position: relative;
        z-index: 2;

        * {touch-action: none;}
        &:not(.PI-dragged) {animation: pull-down 5s 2s infinite;}
        &.PI-dragged a {pointer-events: none;}
        &::before {
            content: '';
            position: absolute;
            width: 100%; height: 100%;
            z-index: -1;
            background: var(--overlay2);
            clip-path: polygon(0 calc(100% - .9em), 50% calc(100% - .1em), 100% calc(100% - .9em), 100% 0, 0 0);
        }
        &::after {
            font-size: 2em; 
            transform: scaleX(1.85); 
            color: var(--theme-alt);
            pointer-events: none;
        }
        li {
            height: 100%; aspect-ratio: 1/1; /*safari*/
        }

        nav:not(.right) & {grid-area: 1/1/3/2;}
        nav.right & {grid-area: 1/-2/3/-1;}
        nav:not(.bottom) & {
            align-self: end;
            flex-direction: column;
            
            li:last-child {margin-bottom: 1em;}
        }
        nav:not(.bottom) &::after {
            content: '\e00e';
            margin-top: -.425em; line-height: .35;
        }
        nav.bottom & {
            flex-direction: column-reverse;

            &:not(.PI-dragged) {animation: pull-up 5s 2s infinite;}
            li:last-child {margin-top: 1em;}
        }
        nav.bottom &::before {
            clip-path: polygon(0 .9em, 50% .1em, 100% .9em, 100% 100%, 0 100%);
        }
        nav.bottom &::after {
            content: '\e00d';
            margin-bottom: -.925em; line-height: .75;
        }
    }
    .LED {
        grid-area: 1/3/3/4; align-self: center;
        display: flex; 
        
        form& {gap: .5em;}
        label {
            display: inline-block; 
            margin-right: .5rem;
        }
    }
    form:not(.LED) {display: contents;}
}
:is(th,menu a):is(.blade,.ratchet,.bit)::after {
    content: '';
    position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); 
    z-index: -1; 
    aspect-ratio: 1;
    background: var(--img) center / contain no-repeat; 
    filter: saturate(0) brightness(99);
}
menu {
    li a {
        margin: .3rem; 
        height: calc(100% - .6rem); max-width: calc(100% - .6rem);
        display: flex; justify-content: center; align-items: center;
        color: var(--theme);
        line-height: 1.1;
        border-radius: .1em;
        transition: none !important;
        -webkit-user-drag: none;
        position: relative;

        li:last-child & {
            margin: 0; padding: .3rem;
            height: 100%; max-width: 100%;
        }
        &[href^='/x/'] {
            font-size: 1.5em;
            margin-top: .1em;
        }
        &:not([href^='/x/']) {
            font-size: .8em;
            border-radius: 9em;
            padding-top: .1em;
        }
        &.current {border: .1rem dashed var(--theme);}
    }
    li.PI-selected a {background: var(--theme); color: black;}

    a[class]::after {
        height: 90%;
        filter: saturate(0) brightness(0) !important;
        z-index: 0 !important;
    }
    a[href$=X]:not([href^='/x/'])::before {
        content: ''; 
        position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); 
        z-index: 1; 
        width: 80%; height: 60%; 
        background: var(--img-line) center / contain no-repeat; 
    }
}
nav {grid-template: 1.7rem 1.7rem / 3em auto 1fr auto;}
nav.right {grid-template: 1.7rem 1.7rem / 0 auto 1fr auto 3em;}
@media (min-width:631px) {
    nav {grid-template-columns: 3em min-content 1fr auto;}
    nav.right {grid-template-columns: 0 min-content 1fr auto 3em;}
}
label:has(:is([type=radio],[type=checkbox]):not(:is(:checked,[name=mag]))):not(.toggle) {
    filter: saturate(0);

    &::before {
        text-shadow: none;
        color: dimgray;
    }
}
.LED label:has(:is([type=radio],[type=checkbox]))::before,
.LED:not(:has(label))::before {
    content: '·';
    display: block;
    margin-bottom: .6rem;
    font-size: 2rem; line-height: 0;
    color: var(--theme); text-shadow: 0 0 .1em var(--theme);
    transition: color .5s;
}

.loading::after {
    content: '\e005' !important; font-size: 2rem;
    display: block;
    animation: spin 1s infinite;
}
@keyframes spin {to {transform: rotate(360deg);}}

continuous-knob {
    --light: var(--theme);
}
dialog {
    width: 100%; height: 100%;
    background: hsla(0,0%,0%,0.8); color: var(--on);
    border: none;
    padding: 1em 0;

    a:not([href*=youtu]):empty::before {
        font-size: 1.2rem;
    }
    a[href^='//']::before {content: '\e023';}
    #tiles x-part {
        font-size: 1.2em;
    }
    #cells table,#tiles x-part {
        margin: .5em auto;
    }
    #tiles:not(:has(x-part)) a,#images:empty,p:empty {
        display: none;
    }
    #images {
        display: grid; grid-template-columns: repeat(3,1fr);
        justify-items: center; gap: .5em; 
        padding: 0 calc(50% - min(15em,47.5%));

        * {
            grid-column: 1/-1;
        }
        a[href*=youtu]::before {
            content: '';
            display: block; width: 3em; height: 3em;
            background: url(https://www.gstatic.com/alkali/e90fc2de5a0e583a01f03acda2e3e61f9577a646.svg) center / contain no-repeat;
        }
        :is(img,p) {
            width: 100%;
        }
        p {
            font-size: .9em;
            border-bottom: .15em dotted;
            padding: .6em .5em; margin: 0;
        }
        img:first-of-type~img:not([src*=detail]) {
            grid-column: initial;
        }
    }
}

#glossary {
    border: none;
    left: max(10px, min(var(--left), 100% - 10px - 15em)); top: var(--top);
    max-width: 15em;
    font-size: .75em; text-align: justify; color: var(--on);
    line-height: 1.3;
    background: var(--overlay2);
    padding: .8em .5em .5em .5em; margin: 0;
    pointer-events: none;
    border-radius: 1em;

    rt {font-size: .7em;}
    dfn::after {content: '：'; font-style: initial;}
    &:has(dfn:not(:empty)) {animation: vanish 2s 1s forwards;}
}
@keyframes vanish {to {opacity: 0;}}
