h1,h2,h3,h4,h5,h6,code,a,u,b,em,button {
    all: unset;
}
i {
    font-style: initial;
}
*,*::before,*::after {
    box-sizing: border-box !important;
    scrollbar-width: none;
}
summary:focus {
    outline: none;
}
:root,input,input::placeholder,button,db-state {
    font-family: 'IBM Plex Sans JP',COND,sans-serif;
}
#parts h4,#menu h4,:host(x-part) dd,output {
    font-family: COND,'IBM Plex Sans JP',sans-serif;
}
h1,h2,h3 {
    font-family: 'Yusei Magic',COND,sans-serif;
}
@font-face {
    font-family: 'MONO';font-display: swap;
    src: url('./fonts/FiraCode-SemiBold.woff2');
}
@font-face {
    font-family: 'COND';font-display: swap;
    src: url("./fonts/FiraSansExtraCondensed-Regular.woff2");
}

menu,ol:not(.default),ul:not(.default),dl,dt,dd,summary,figure,fieldset {
    list-style: none; border: none;
    margin: 0; padding:0;
}
article p {
    text-align: left;
}
svg {
    overflow: visible;
}
ruby.below {
    ruby-position: under;
}
label,button,summary,[onclick],a[href] {
    transition: filter .3s,background-color .3s;
}
button:not([disabled]),label:has(input:not([disabled])),a[href]:not(.disabled),summary,[onclick]:hover {
    cursor: pointer;
}
a[href]:not(.disabled):hover {
    filter: brightness(110%);
}
:is(button:not([disabled]),summary,[onclick],label:has(input)):hover {
    filter: brightness(90%);
}
a.disabled,button[disabled] {
    filter: saturate(0%);
    pointer-events: none;
}
input:is([type=checkbox],[type=radio],[type=file]),svg:not([viewBox]),::-webkit-details-marker {
    display: none;
}
[hidden] {
    display: none !important;
}
:defined,:defined::before,:defined::after {
    visibility: visible;
}
@media (max-width:630px) and (orientation:portrait) {
    html {font-size: 4vw;}
}
@media (max-width:630px) and (orientation:landscape) {
    html {font-size: 3vw;}
}
@media (min-width:631px) {
    html {font-size: 20px;}
}

.blade {
    --hue: 55; --b-adj: -5%;
    --img: url(/x/img/blade/CbDr.png);
}
.ratchet {
    --hue: 175; --b-adj: 0%;
    --img: url(/x/img/ratchet/6-60.png);
}
.bit {
    --hue: 245; --s-adj: 20%; --b-adj: 15%;
    --img: url(/x/img/bit/B.png);
}
.bit.fusion {--hue: 200;}
.att,dd:has([value='.att']) {--type: #0081e3;}
.def,dd:has([value='.def']) {--type: #009f48;}
.sta,dd:has([value='.sta']) {--type: #f08200;}
.bal,dd:has([value='.bal']) {--type: #de0010;}
.BX,a[href$=BX] {--line: #71bce9; --img-line: url(/x/img/lines.svg#BX);}
.UX,a[href$=UX] {--line: #ee7800; --img-line: url(/x/img/lines.svg#UX);}
.CX,a[href*=CX] {--line: #e4007f; --img-line: url(/x/img/lines.svg#CX);}

.RB {--sat: 0%; --b-adj: 5%;}
.B  {--hue: 10;}
.SS {--hue: 235; --b-adj: 5%;}
.St {--hue: 290;}
.S  {--hue: 200;}
.Lm  {--hue: 45;}
.RB,.B,.S,.St,.SS,.Lm {
    --light: hsl(var(--hue,0),var(--sat,60%),calc(35% + var(--b-adj,0%)));
    --dark: hsl(var(--hue,0),var(--sat,50%),calc(25% + var(--b-adj,0%)));
}

html {
    background: var(--backdrop);
    --backdrop: black;--overlay1:#383838E8;--overlay2:#555555E8;
    color: var(--on); --on: #ffffffdd;
    --hue: 87; --theme: #b5fb5c; 
    --theme-dark: color-mix(in srgb,var(--theme) 35%,black);
    --theme-alt: hsl(45,90%,48%);
}
body {
    margin:0;
    text-align: center; -webkit-text-size-adjust: 100%;
    opacity: 1; transition: opacity .25s; @starting-style {opacity:0;}
}
body:has(db-state[title=更新中]) {
    pointer-events: none;
}
html,body {
    scroll-padding-top: 5em;
    overscroll-behavior-y: none;
}
main {
    margin: 5em auto 1em auto;
}
db-state:not([hidden])~main {
    margin-top: 1em;
}
a[href],a[onclick],nav,form summary,caption label,:is(caption,#filter) button,#filter summary {
    color: var(--theme);
}
.loading,output,#filter:has(input:not(:checked)) summary {
    color: var(--theme-alt);
}

.animating menu {
    transition: transform .5s;
}
@keyframes pull {
    25% {transform: translateY(1em);}
    50%,to {transform: none;}
}
nav {
    width: 100%; height: 4.15rem;
    border-bottom: 0.15rem solid;
    display: grid; grid-template: 1.7rem 1.7rem / 3em auto 1fr auto;
    gap: .2rem .3rem;
    padding: .2rem .3rem;
    background: var(--overlay1);
    position: fixed; top: 0; z-index:5; 
    user-select: none; -webkit-user-select: none;

    menu {
        grid-area: 1/1/3/2; align-self: end;
        display: flex; flex-direction: column;
        height: min-content;
        margin: .1em .1em 0 0;
        touch-action: none;
        position: relative;
        z-index: 2;

        &:not(.PI-dragged) {animation: pull 5s 2s infinite;}
        &.PI-dragged a {pointer-events: none;}
        &::before {
            content: '';
            position: absolute;
            width: 100%; height: 100%;
            z-index: -1;
            background: var(--overlay2);
            clip-path: polygon(0 calc(100% - .9em), 50% calc(100% - .1em), 100% calc(100% - .9em), 100% 0, 0 0);
        }
        &::after {
            content: '\e00e';
            font-size: 2em; 
            transform: scaleX(1.85); line-height: .35;
            color: var(--theme-alt);
            margin-top: -.425em;
            pointer-events: none;
        }
        li {
            height: 100%; aspect-ratio: 1/1; /*safari*/
            &:last-child {margin-bottom: 1em;}
        }
        li a {
            margin: .3rem; 
            height: calc(100% - .6rem); max-width: calc(100% - .6rem);
            display: flex; justify-content: center; align-items: center;
            color: var(--theme);
            line-height: 1.1;
            border-radius: .1em;
            transition: none !important;
            -webkit-user-drag: none;
            position: relative;

            li:last-child & {
                margin: 0; padding: .3rem;
                height: 100%; max-width: 100%;
            }
            &[data-icon]::after {
                content: attr(data-icon);
                font-size: 1.5em;
                margin-top: .1em;
            }
            &:not([data-icon]) {
                font-size: .8em;
                border-radius: 9em;
            }
            &.current {border: .1rem dashed var(--theme);}
        }
        li.PI-selected a {background: var(--theme); color: black;}
    }
    .part-result {
        grid-area: 1/4/2/5; justify-self: end;
        line-height: .9;
        font-size: 2em;

        &:not(:empty)::after {
            content: '款';
            font-size: .9rem;
            margin-left: .1em;
            vertical-align: .05em;
        }
    }
    .prod-result {
        grid-area: 2/4/2/5; place-self: end;
        line-height: .8;
        font-size: 3rem; 
        
        &:not(:empty)&::after {
            content: '結果';
            font-size: .7rem;
            margin-left: .1em;
        }
    }
    label[for=free] {
        font-size: .7rem; line-height: 1.1;
        grid-area: 1/4/2/5; place-self: end;
        width: 2em;
        position: relative;

        &::after {
            content: '\e00a';
            position: absolute; right: -1.8em; bottom: 0;
        }
    }
    search {
        grid-area: 1/5/2/6; align-self: center; 

        input {
            padding: 0 .3em 0 1.7em;
            background: none; outline: none;
            font-size: 1em; color: var(--on);
            vertical-align: middle;

            &::-webkit-search-cancel-button {display: none;}
        }
    }
    search input,button {
        width: 7rem;
        border: .1rem solid var(--theme);border-radius: 3em;
        height: 1.4rem;
    }
    button {
        grid-area: 2/5/3/6; align-self: center;
        font-size: .8em;
    }
    label[for=free]::after,button {
        background: var(--theme);    
        color: var(--overlay1);
    }
    label[for=free]::after,
    .part-mag label,.part-mag::before,.part-mag::after {
        display: inline-block; width: 1.7rem; height: 1.7rem;
        line-height: 1.65; font-size: 1.1rem;
        border-radius: 5em;
    }
    .part-mag label,.part-mag::before,.part-mag::after {
        background: hsl(var(--h),var(--s),80%);
        color: hsl(var(--h),var(--s),50%);
    }
    .part-mag {
        grid-area: 2/4/3/5; justify-self: flex-end;

        label {display: none;}
        continuous-knob {
            margin-top: .15em; 
            font-size: .9em;

            &::part(output) {color: transparent;}
        }
    }
    .LED:has(label) {
        display: flex; align-items: center; gap: .5em;
        grid-area: 1/3/3/4;
        margin-left: .5em;
    }
}
:is(th,menu a):is(.blade,.ratchet,.bit)::after {
    content: '';
    position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); 
    z-index: -1; 
    aspect-ratio: 1;
    background: var(--img) center / contain no-repeat; 
    filter: saturate(0) brightness(99);
}
menu {
    a[class]::after {
        height: 90%;
        filter: saturate(0) brightness(0) !important;
        z-index: 0 !important;
    }
    a[href$=X]::before {
        content: ''; 
        position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); 
        z-index: 1; 
        width: 80%; height: 60%; 
        background: var(--img-line) center / contain no-repeat; 
    }
}
@media (min-width:631px) {
    nav {grid-template-columns: 3em min-content 1fr auto auto;}
    nav .part-mag {width: auto;grid-area: 1/5/3/6;}
    nav .part-result {grid-area: 1/4/2/5;}
}
label:has(:is([type=radio],[type=checkbox]):not(:is(:checked,[name=mag]))):not(.toggle) {
    filter: saturate(0%);

    &::before {
        text-shadow: none;
        color: dimgray;
    }
}
.LED:has(label) label:has(:is([type=radio],[type=checkbox]))::before,
.LED:not(:has(label))::before {
    content: '·';
    display: block;
    position: relative;
    font-size: 2rem; line-height: .6rem;
    color: var(--theme); text-shadow: 0 0 .1em var(--theme);
    transition: color .5s;
}

.loading::after {
    content: '\e005' !important; font-size: 2em;
    display: inline-block;
    animation: spin 1s infinite;
}
@keyframes spin {to {transform: rotate(360deg);}}

continuous-knob {
    --light: var(--theme);
}
[popover] {
    width: 100%; height: 100%;
    background: hsla(0,0%,0%,0.8); color: var(--on);
    border: none;
    padding: 1em 0;

    a:not([href*=youtu])::before {
        content: '\e024';
        font-size: 1.2rem;
    }
    a[href^='//']::before {content: '\e023';}
    #tiles x-part {
        font-size: 1.2em;
    }
    #cells table,#tiles x-part {
        margin: .5em auto;
    }
    #cells:has(tbody:empty) a,#tiles:not(:has(x-part)) a,#images:empty,p:empty {
        display: none;
    }
    #images {
        display: grid; grid-template-columns: repeat(3,1fr);
        justify-items: center; gap: .5em; 
        padding: 0 calc(50% - min(15em,47.5%));

        * {
            grid-column: 1/-1;
        }
        a[href*=youtu]::before {
            content: '';
            display: block; width: 3em; height: 3em;
            background: url(https://www.gstatic.com/alkali/e90fc2de5a0e583a01f03acda2e3e61f9577a646.svg) center / contain no-repeat;
        }
        :is(img,p) {
            width: 100%;
        }
        p {
            font-size: .9em;
            border-bottom: .15em dotted;
            padding: .6em .5em; margin: 0;
        }
        img:first-of-type~img:not([src*=detail]) {
            grid-column: initial;
        }
    }
}

#glossary {
    position: fixed; left: max(10px, min(var(--left), 100% - 10px - 15em)); top: var(--top);
    z-index: 9;
    width: 15em;
    font-size: .8em; text-align: justify;
    background: var(--overlay2);
    padding: .8em .5em .5em .5em;
    pointer-events: none;
    border-radius: 1em;

    dfn::after {content: '：'; font-style: initial;}
    &:has(dfn:not(:empty)) {animation: vanish 2s 1s forwards;}
    &:empty {display: none;}
}
@keyframes vanish {to {opacity: 0;}}
